h2 {
  font-size: 27px;
}

label {
  font-size: 15px;
}

input {
  border: 1px solid #D1D1D1 !important;
  background-color: white !important;
  border-radius: 0px !important;
}

select {
  border: 1px solid #D1D1D1 !important;
  background-color: white !important;
  border-radius: 0px !important;
}

.salvar-btn {
  border-radius: 5px;
  background-color: #E18F53 !important;
  border: none;
  color: #fff;
  padding: 5px 15px;
  font-size: 15px;
}
