/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}
body { margin: 0; font-family: 'Monda', sans-serif; font-weight: 400; }

.border-lista-clientes {
  border-bottom: 1px solid #DDDDDD !important;
}
